<title>Movie Poster</title>
<h1>Movie Poster</h1>
 <%= "<img src=#{@poster_id["Poster"]}><br>" %>
  <ul>
  	<li>Plot: <%= @poster_id["Plot"] %> </li>
  	<li>Released Year: <%= @poster_id["Released"] %> </li>
  	<li>Rated: <%= @poster_id["Runtime"] %> </li>
  	<li>Genre: <%= @poster_id["Genre"] %> </li>
  	<li>Runtime: <%= @poster_id["Runtime"] %> </li>
  	<li>Director: <%= @poster_id["Director"] %> </li>
  	<li>Actors: <%= @poster_id["Actors"] %> </li>
	</ul>
 
 <a href="/">New Search</a>

